:root {
  --primary: white;
  --secondary: black;
  --font_sm: 14px;
  --font_md: 18px;
  --font_lg: 21px;
}

body {
  margin: 0px 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--primary);
  color: var(--secondary);
  font-size: var(--font_sm);
  border: 2px solid var(--secondary);
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
  background-color: var(--secondary);
  color: var(--primary);
}

nav {
  background-color: var(--secondary);
  color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px grey;
  position: static;
}

@keyframes slideInfromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

main {
  width: 50%;
  margin: auto;
  min-height: 80vh;
  animation: 1s ease-out 0s 1 slideInfromRight;
}

.main-header {
  font-size: var(--font_lg);
  font-weight: 400;
}

#container {
  width: 100%;
  height: 250px;
  background-color: black;
  margin: auto;
  box-shadow: 4px 4px 6px silver;
}

.color-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: 1s ease-out 0s 1 slideInfromRight;
}

.color-container {
  background-color: antiquewhite;
  padding: 10px;
  font-weight: 500;
}

.buttons {
  margin: 20px 0;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.copy {
  cursor: pointer;
  border: 1px solid grey;
  padding: 5px;
  margin-left: 10px;
}

.copy:hover {
  transform: scale(1.1);
}

#copied {
  background-color: var(--secondary);
  padding: 5px;
  font-size: var(--font_sm);
  color: var(--primary);
  display: none;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin: 0;
}

footer {
  padding: 10px;
  text-align: center;
  background-color: var(--secondary);
  color: var(--primary);
}

@media (max-width: 792px) {
  :root {
    --primary: white;
    --secondary: black;
    --font_sm: 12px;
    --font_md: 15px;
    --font_lg: 18px;
  }
  body {
    margin: 0;
  }
  main {
    min-height: 85vh;
    width: 95%;
  }
}

@media (max-width: 592px) {
  button {
    display: block;
    margin-bottom: 10px;
  }
  nav > div button {
    margin-bottom: 0;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
